<a href="https://colab.research.google.com/github/leandrobonato/Curso_CienciaDados_Analytics_IA_Python_PUC-RIO/blob/main/Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tudo foi copiado, corrigido, e resolvido por Leandro Miozzo Bonato para reforçar o aprendizado.

##Aula 01 - Exercícios 01

###Roteiro da primeira lista de exercícios

Ao longo deste documento, haverá vários exemplos e exercícios comentados para consolidar o conhecimento adquirido sobre tipos de dados, operadores aritméticos e expressões aritméticas. Ao final, serão apresentados alguns desafios para os quais as respostas são fornecidas para simples conferência.

###Operadores aritméticos e expressões

In [51]:
# Este é um comentário. Não é considerado pelo ambiente na execução do código
# Execute esta célula que contém a expressão abaixo com dois valores reais.
# Repare que é utilizado o ponto decimal.
18.72 + 3.34    # É possível escrever um comentário ao lado de uma linha de código

22.06

In [52]:
# Mas cuidado! Ao executar o código abaixo, ocorrerá um erro.
# Motivo: um espaço em branco antes da expressão.
18.72 + 3.34 #Corrigido para a identação correta.

22.06

Agora, execute as próximas 7 células com expressões envolvendo apenas valores inteiros. Certifique-se de analisar com cuidado os 3 últimos resultados.

In [53]:
13 + 5 #Adição

18

In [54]:
13 - 5 #Subtração

8

In [55]:
13 ** 5 #Exponenciação

371293

O operador / é responsável por executar a operação de divisão como conhecemos na Matemática. Por isso, o resultado de 13 dividido por 5 tem como resultado 2.6.

In [56]:
13 / 5 #Divisão

2.6

Já o operador // executa uma divisão na qual o resultado é o maior inteiro menor do que o quociente da divisão tradicional. Na expressão acima, o resultado é 2 porque este é o maior inteiro menor que 2.6 (resultado de 13 / 5).

In [57]:
13 // 5 #Divisão de inteiros

2

O operador % calcula o resto da divisão do primeiro operando pelo segundo. No caso, o resultado é 3:
13 - (13 // 5) * 5.

In [58]:
13 % 5 #Resto da divisão

3

Mas cuidado! A expressão abaixo gera um valor que pode parecer estranho para alguns. Lembre-se que o resultado é o maior inteiro menor do que o quociente da divisão tradicional (-2.6).

In [59]:
(-13) // 5

-3

Calcule o resultado da expressão aritmética abaixo.

In [60]:
10 - 3 * 2 + 4 ** 3 // 8
#parte 1: exponenciação -> 4 ** 3 = 64
#parte 2: divisão, multiplicação e divisão por inteiros -> 3 * 2 = 6
#parte 3: o restante -> 64 // 8 = 8
#parte 4: subtração -> 10 - 6 = 4
#parte 5: adição -> 4 + 8 = 12

12

O resultado já era conhecido pois é a mesma expressão vista no texto do início da primeira aula. Mas como fica a expressão com alguns parênteses? O resultado muda? Experimente!

In [61]:
(10 - 3) * 2 + 4 ** (3 // 8)
#parte 1: parentênsis -> 10 - 3 = 7
#parte 2: parentênsis -> 3 // 8 = 0
#parte 3: exponenciação -> 4 ** 0 = 1 --> o truque está aqui, pois 4 exponenciado à 0 é sempre 1 e não zero.
#parte 4: multiplicação -> 7 * 2 = 14
#parte 5: adição -> 1 + 14 = 15

15

A execução do código da próxima célula provoca um erro comum, principalmente, para iniciantes na programação. Execute-a e observe a mensagem de erro exibida.

In [62]:
#10 / 0       # não é possível dividir um valor por zero!
#para evitar esse erro, terá que fazer um IF
numerador = 10
divisor = 0
divisao_segura = 0
if divisor <= 0: divisao_segura = 0
else: divisao_segura = numerador / divisor
print(divisao_segura)

0

###Desafios

Agora, resolva os desafios abaixo, adicionando novas células de código e definindo as expressões necessárias para calcular o resultado. Repare que a resposta de cada desafio é dada.

####DESAFIO 1

Qual o volume, em metros cúbicos, de um reservatório, em forma de paralelepípedo, com 79 metros de comprimento, 10 metros de largura e 4 metros de profundidade?

In [45]:
comprimento = 79
largura = 10
profundidade = 4
volume = 0

volume = comprimento * largura * profundidade

print(str(volume) + ' m³')

3160 m³

####DESAFIO 2

Considerando que 1 metro cúbico corresponde a 1000 litros de água, quantos litros cabem no reservatório do desafio 1?

In [47]:
capacidade_volume = 1000
capacidade_final = 0

capacidade_final = volume * capacidade_volume

print(str(capacidade_final) + ' litros de água')

3160000 litros de água

####DESAFIO 3

Considere uma torneira que despeja 75 litros de água por hora. Em quantos minutos a torneira encheria o reservatório dos desafios 1 e 2?

In [50]:
litros_agua_hora = 75
tempo_enchimento_horas = 0
tempo_minutos = 0
tempo_dias = 0

tempo_enchimento_horas = (capacidade_final / litros_agua_hora)
tempo_minutos = tempo_enchimento_horas * 60 #converte de litros/hora para litros/minutos
tempo_dias = tempo_enchimento_horas / 24 #converte de litros/hora para litros/dias

print(str(round(tempo_enchimento_horas, 2)) + ' horas ou ' + str(tempo_minutos) + ' minutos ou ' + str(round(tempo_dias, 2)) + ' dias')

42133.33 horas ou 2528000.0 minutos ou 1755.56 dias

##Aula 01 - Exercícios 02

###Roteiro da segunda lista de exercícios

Ao longo deste documento, haverá vários exemplos e exercícios comentados para consolidar o conhecimento adquirido sobre variáveis que envolve naturalmente as expressões aritméticas e seus operadores. Depois, resolva os desafios propostos cujas respostas encontram-se na última seção para sua conferência.

####Exemplos apostila

In [67]:
fator1 = 87 * 100 + 82

print(str(fator1))

8782

In [68]:
fator2 = fator1 ** 2

print(str(fator2))

77123524

In [69]:
total = 1
total = total + 1

print(total)

2

####Variáveis

Para "guardar" o resultado de uma expressão é necessário utilizar uma variável. Na 1a. linha da próxima célula, o valor inteiro 15 será armazenado na variável especificada do lado esquerdo do sinal de atribuição: n1. Ao executar a 2a. linha, o conteúdo da variável n1 será exibido.

In [70]:
n1 = (10 - 3) * 2 + 4 ** (3 // 8)
print(str(n1))

15

A partir da criação/inicialização da variável, é possível utilizá-la, por exemplo, em uma expressão. Na célula abaixo, o valor armazenado em n1 será elevado ao quadrado gerando o valor 225. Em seguida, esse valor será armazenado na variável do lado esquerdo do sinal de atribuição (n2). Por último, será impresso o valor armazenado em n2: 225.

In [71]:
n1 = (10 - 3) * 2 + 4 ** (3 // 8)
n2 = n1 ** 2
print(str(n2))

225

Na célula acima, após executá-la, experimente clicar em cima do nome da variável n1 e manter o ponteiro do mouse em cima do nome da variável. O ambiente mostrará o valor armazenado em n1 e seu tipo (no caso, int).

Uma variável armazena um valor de cada vez. Ou seja, ao armazenar um novo valor, o anterior é perdido. Veja o que acontece ao executar o código na próxima célula. Ao armazenar o valor 7.5 na variável nota, o valor 10.0 é perdido.

In [72]:
nota = 10.0
nota = 7.5
print(str(nota))

7.5

Python é uma linguagem de "tipagem" dinâmica, ou seja, o tipo de uma variável não é fixo. Por isso, é possível criar uma variável com determinado valor e depois atribuir à mesma variável um valor de outro tipo. Execute a célula abaixo que demonstra exatamente isso.

In [73]:
x = 10.5
x = 'Mudou para string!'
print(x)

Mudou para string!

Agora, vamos provocar alguns erros comuns, principalmente, para iniciantes na programação. Execute as duas próximas células e observe as mensagens de erro exibidas.

In [75]:
#n = a + 5     # a variável a não foi criada/inicializada/definida;
#n             # por isso, não é possível calcular o resultado da expressão;
               # repare que a variável a já aparece sublinhada indicando erro

In [77]:
#10 / 0       # não é possível dividir um valor por zero!

###Desafio

Para resolver os desafios propostos, adicione novas células de código e defina as expressões necessárias para calcular os resultados. Depois, confira possíveis soluções na última seção.

#### **DESAFIO 1**

Considere um reservatório com as seguintes medidas: 79 m de comprimento, 10 m de largura e 4 m de profundidade. Em quantos minutos uma torneira que despeja 75 litros de água por hora encheria essse reservatório? Sabe-se que um 1 metro cúbico corresponde a 1000 l de água.

Importante: armazene o cálculo do volume do reservatório e da vazão por minuto em variáveis; depois, utilize essas duas variáveis no cálculo final.

In [80]:
comprimento = 79
largura = 10
profundidade = 4
volume = 0

volume = comprimento * largura * profundidade

print(str(volume) + ' m³')

capacidade_volume = 1000
capacidade_final = 0

capacidade_final = volume * capacidade_volume

print(str(capacidade_final) + ' litros de água')

litros_agua_hora = 75
tempo_enchimento_horas = 0
tempo_minutos = 0
tempo_dias = 0

tempo_enchimento_horas = (capacidade_final / litros_agua_hora)
tempo_minutos = tempo_enchimento_horas * 60 #converte de litros/hora para litros/minutos
tempo_dias = tempo_enchimento_horas / 24 #converte de litros/hora para litros/dias

print(str(round(tempo_enchimento_horas, 2)) + ' horas ou ' + str(tempo_minutos) + ' minutos ou ' + str(round(tempo_dias, 2)) + ' dias')

3160 m³
3160000 litros de água
42133.33 horas ou 2528000.0 minutos ou 1755.56 dias

####**DESAFIO 2**

A fórmula de Bhaskara abaixo calcula as duas raízes reais de uma equação do 2º grau, uma utilizando o sinal '+' e a outra, o sinal '-'. Calcule as raízes para os coeficientes: a = 1, b = 5 e c = 6. Dica: um valor elevado ao expoente 0.5 é equivalente à raiz quadrada do valor.

![image.png]()

In [91]:
import math

a = 1
b = 5
c = 6
raiz_delta = 0
x1 = 0
x2 = 0

raiz_delta = math.sqrt(b ** 2 - 4 * a * c)
x1 = (-b + raiz_delta) / 2 * a
x2 = (-b - raiz_delta) / 2 * a

print('x1: ' + str(x1) + '\nx2: ' + str(x2))

x1: -2.0
x2: -3.0