<a href="https://colab.research.google.com/github/leandrobonato/Curso_CienciaDados_Analytics_IA_Python_PUC-RIO/blob/main/Sprint%201/Introdu%C3%A7%C3%A3o%20%C3%A0%20Programa%C3%A7%C3%A3o%20com%20Python/aula1/Exerc%C3%ADcios/Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tudo foi copiado, corrigido, e resolvido por Leandro Miozzo Bonato para reforçar o aprendizado.

##Aula 01 - Exercícios 01 - Operadores

###Roteiro da primeira lista de exercícios

Ao longo deste documento, haverá vários exemplos e exercícios comentados para consolidar o conhecimento adquirido sobre tipos de dados, operadores aritméticos e expressões aritméticas. Ao final, serão apresentados alguns desafios para os quais as respostas são fornecidas para simples conferência.

###Operadores aritméticos e expressões

In [ ]:
# Este é um comentário. Não é considerado pelo ambiente na execução do código
# Execute esta célula que contém a expressão abaixo com dois valores reais.
# Repare que é utilizado o ponto decimal.
18.72 + 3.34    # É possível escrever um comentário ao lado de uma linha de código

22.06

In [ ]:
# Mas cuidado! Ao executar o código abaixo, ocorrerá um erro.
# Motivo: um espaço em branco antes da expressão.
18.72 + 3.34 #Corrigido para a identação correta.

22.06

Agora, execute as próximas 7 células com expressões envolvendo apenas valores inteiros. Certifique-se de analisar com cuidado os 3 últimos resultados.

In [ ]:
13 + 5 #Adição

18

In [ ]:
13 - 5 #Subtração

8

In [ ]:
13 ** 5 #Exponenciação

371293

O operador / é responsável por executar a operação de divisão como conhecemos na Matemática. Por isso, o resultado de 13 dividido por 5 tem como resultado 2.6.

In [ ]:
13 / 5 #Divisão

2.6

Já o operador // executa uma divisão na qual o resultado é o maior inteiro menor do que o quociente da divisão tradicional. Na expressão acima, o resultado é 2 porque este é o maior inteiro menor que 2.6 (resultado de 13 / 5).

In [ ]:
13 // 5 #Divisão de inteiros

2

O operador % calcula o resto da divisão do primeiro operando pelo segundo. No caso, o resultado é 3:
13 - (13 // 5) * 5.

In [ ]:
13 % 5 #Resto da divisão

3

Mas cuidado! A expressão abaixo gera um valor que pode parecer estranho para alguns. Lembre-se que o resultado é o maior inteiro menor do que o quociente da divisão tradicional (-2.6).

In [ ]:
(-13) // 5

-3

Calcule o resultado da expressão aritmética abaixo.

In [ ]:
10 - 3 * 2 + 4 ** 3 // 8
#parte 1: exponenciação -> 4 ** 3 = 64
#parte 2: divisão, multiplicação e divisão por inteiros -> 3 * 2 = 6
#parte 3: o restante -> 64 // 8 = 8
#parte 4: subtração -> 10 - 6 = 4
#parte 5: adição -> 4 + 8 = 12

12

O resultado já era conhecido pois é a mesma expressão vista no texto do início da primeira aula. Mas como fica a expressão com alguns parênteses? O resultado muda? Experimente!

In [ ]:
(10 - 3) * 2 + 4 ** (3 // 8)
#parte 1: parentênsis -> 10 - 3 = 7
#parte 2: parentênsis -> 3 // 8 = 0
#parte 3: exponenciação -> 4 ** 0 = 1 --> o truque está aqui, pois 4 exponenciado à 0 é sempre 1 e não zero.
#parte 4: multiplicação -> 7 * 2 = 14
#parte 5: adição -> 1 + 14 = 15

15

A execução do código da próxima célula provoca um erro comum, principalmente, para iniciantes na programação. Execute-a e observe a mensagem de erro exibida.

In [ ]:
#10 / 0       # não é possível dividir um valor por zero!
#para evitar esse erro, terá que fazer um IF
numerador = 10
divisor = 0
divisao_segura = 0
if divisor <= 0: divisao_segura = 0
else: divisao_segura = numerador / divisor
print(divisao_segura)

0

###Desafios

Agora, resolva os desafios abaixo, adicionando novas células de código e definindo as expressões necessárias para calcular o resultado. Repare que a resposta de cada desafio é dada.

####DESAFIO 1

Qual o volume, em metros cúbicos, de um reservatório, em forma de paralelepípedo, com 79 metros de comprimento, 10 metros de largura e 4 metros de profundidade?

In [ ]:
comprimento = 79
largura = 10
profundidade = 4
volume = 0

volume = comprimento * largura * profundidade

print(str(volume) + ' m³')

3160 m³

####DESAFIO 2

Considerando que 1 metro cúbico corresponde a 1000 litros de água, quantos litros cabem no reservatório do desafio 1?

In [ ]:
capacidade_volume = 1000
capacidade_final = 0

capacidade_final = volume * capacidade_volume

print(str(capacidade_final) + ' litros de água')

3160000 litros de água

####DESAFIO 3

Considere uma torneira que despeja 75 litros de água por hora. Em quantos minutos a torneira encheria o reservatório dos desafios 1 e 2?

In [ ]:
litros_agua_hora = 75
tempo_enchimento_horas = 0
tempo_minutos = 0
tempo_dias = 0

tempo_enchimento_horas = (capacidade_final / litros_agua_hora)
tempo_minutos = tempo_enchimento_horas * 60 #converte de litros/hora para litros/minutos
tempo_dias = tempo_enchimento_horas / 24 #converte de litros/hora para litros/dias

print(str(round(tempo_enchimento_horas, 2)) + ' horas ou ' + str(tempo_minutos) + ' minutos ou ' + str(round(tempo_dias, 2)) + ' dias')

42133.33 horas ou 2528000.0 minutos ou 1755.56 dias

##Aula 01 - Exercícios 02 - Variáveis

###Roteiro da segunda lista de exercícios

Ao longo deste documento, haverá vários exemplos e exercícios comentados para consolidar o conhecimento adquirido sobre variáveis que envolve naturalmente as expressões aritméticas e seus operadores. Depois, resolva os desafios propostos cujas respostas encontram-se na última seção para sua conferência.

####Exemplos apostila

In [ ]:
fator1 = 87 * 100 + 82

print(str(fator1))

8782

In [ ]:
fator2 = fator1 ** 2

print(str(fator2))

77123524

In [ ]:
total = 1
total = total + 1

print(total)

2

####Variáveis

Para "guardar" o resultado de uma expressão é necessário utilizar uma variável. Na 1a. linha da próxima célula, o valor inteiro 15 será armazenado na variável especificada do lado esquerdo do sinal de atribuição: n1. Ao executar a 2a. linha, o conteúdo da variável n1 será exibido.

In [ ]:
n1 = (10 - 3) * 2 + 4 ** (3 // 8)
print(str(n1))

15

A partir da criação/inicialização da variável, é possível utilizá-la, por exemplo, em uma expressão. Na célula abaixo, o valor armazenado em n1 será elevado ao quadrado gerando o valor 225. Em seguida, esse valor será armazenado na variável do lado esquerdo do sinal de atribuição (n2). Por último, será impresso o valor armazenado em n2: 225.

In [ ]:
n1 = (10 - 3) * 2 + 4 ** (3 // 8)
n2 = n1 ** 2
print(str(n2))

225

Na célula acima, após executá-la, experimente clicar em cima do nome da variável n1 e manter o ponteiro do mouse em cima do nome da variável. O ambiente mostrará o valor armazenado em n1 e seu tipo (no caso, int).

Uma variável armazena um valor de cada vez. Ou seja, ao armazenar um novo valor, o anterior é perdido. Veja o que acontece ao executar o código na próxima célula. Ao armazenar o valor 7.5 na variável nota, o valor 10.0 é perdido.

In [ ]:
nota = 10.0
nota = 7.5
print(str(nota))

7.5

Python é uma linguagem de "tipagem" dinâmica, ou seja, o tipo de uma variável não é fixo. Por isso, é possível criar uma variável com determinado valor e depois atribuir à mesma variável um valor de outro tipo. Execute a célula abaixo que demonstra exatamente isso.

In [ ]:
x = 10.5
x = 'Mudou para string!'
print(x)

Mudou para string!

Agora, vamos provocar alguns erros comuns, principalmente, para iniciantes na programação. Execute as duas próximas células e observe as mensagens de erro exibidas.

In [ ]:
#n = a + 5     # a variável a não foi criada/inicializada/definida;
#n             # por isso, não é possível calcular o resultado da expressão;
               # repare que a variável a já aparece sublinhada indicando erro

In [ ]:
#10 / 0       # não é possível dividir um valor por zero!

###Desafio

Para resolver os desafios propostos, adicione novas células de código e defina as expressões necessárias para calcular os resultados. Depois, confira possíveis soluções na última seção.

#### **DESAFIO 1**

Considere um reservatório com as seguintes medidas: 79 m de comprimento, 10 m de largura e 4 m de profundidade. Em quantos minutos uma torneira que despeja 75 litros de água por hora encheria essse reservatório? Sabe-se que um 1 metro cúbico corresponde a 1000 l de água.

Importante: armazene o cálculo do volume do reservatório e da vazão por minuto em variáveis; depois, utilize essas duas variáveis no cálculo final.

In [ ]:
comprimento = 79
largura = 10
profundidade = 4
volume = 0

volume = comprimento * largura * profundidade

print(str(volume) + ' m³')

capacidade_volume = 1000
capacidade_final = 0

capacidade_final = volume * capacidade_volume

print(str(capacidade_final) + ' litros de água')

litros_agua_hora = 75
tempo_enchimento_horas = 0
tempo_minutos = 0
tempo_dias = 0

tempo_enchimento_horas = (capacidade_final / litros_agua_hora)
tempo_minutos = tempo_enchimento_horas * 60 #converte de litros/hora para litros/minutos
tempo_dias = tempo_enchimento_horas / 24 #converte de litros/hora para litros/dias

print(str(round(tempo_enchimento_horas, 2)) + ' horas ou ' + str(tempo_minutos) + ' minutos ou ' + str(round(tempo_dias, 2)) + ' dias')

3160 m³
3160000 litros de água
42133.33 horas ou 2528000.0 minutos ou 1755.56 dias

####**DESAFIO 2**

A fórmula de Bhaskara abaixo calcula as duas raízes reais de uma equação do 2º grau, uma utilizando o sinal '+' e a outra, o sinal '-'. Calcule as raízes para os coeficientes: a = 1, b = 5 e c = 6. Dica: um valor elevado ao expoente 0.5 é equivalente à raiz quadrada do valor.

![image.png]()

In [ ]:
import math

a = 1
b = 5
c = 6
raiz_delta = 0
x1 = 0
x2 = 0

raiz_delta = math.sqrt(b ** 2 - 4 * a * c)
x1 = (-b + raiz_delta) / 2 * a
x2 = (-b - raiz_delta) / 2 * a

print('x1: ' + str(x1) + '\nx2: ' + str(x2))

x1: -2.0
x2: -3.0

##Aula 01 - Exercícios 03 - Strings e Listas

####Exemplos apostila

#####Concatenação

In [ ]:
print('Linguagem ' + 'Python')

Linguagem Python

#####Replicação

In [ ]:
print('Python' * 3)

PythonPythonPython

#####Tamanho do texto

In [ ]:
frase = 'Hello World!'
qtdCaracteres = len(frase)

print(str(qtdCaracteres))

12

#####Acessando caractere

In [ ]:
print(frase[0])
print(frase[6])
print(frase[11]) #se colocar 12 como no exemplo da apostila irá gerar erro, pois a lista começa em 0

H
W
!

#####Acessando ao contrários os caracteres da lista

In [ ]:
print(frase[-1])
print(frase[-6])
print(frase[-8])

!
W
o

#####Modificando uma String

In [ ]:
s = frase
s = s[:-1] + '?'
print(s)

Hello World?

#####Listas

In [ ]:
lNomes = ['Pato Donald', 'Margarida', 'Mickey', 'Minnie']
lQualquer = [-10.5, [True, 'Tio Patinhas'], [17, 19]]
lNumeros = [2, 2, 1, 8 ,8 , 3 , 6 , 9]

print('Números(posição 2): ' + str(lNumeros[2]))
print('Números(última posição): ' + str(lNumeros[-1]))

qtdElementos = len(lNumeros)
print('Quantidade de elementos de números: ' + str(qtdElementos))

qtdElementos = len(lQualquer)
print('Quantidade de elementos de Qualquer: ' + str(qtdElementos))

Números(posição 2): 1
Números(última posição): 9
Quantidade de elementos de números: 8
Quantidade de elementos de Qualquer: 3

##### Fatiamento de listas

In [ ]:
lNomes[1:3]

['Margarida', 'Mickey']

In [ ]:
lNomes[::-1]

['Minnie', 'Mickey', 'Margarida', 'Pato Donald']

####Desafios
Agora, resolva os desafios abaixo, adicionando novas células de código e definindo as expressões necessárias para gerar o resultado esperado.



#####DESAFIO 1

Crie uma variável com o seu nome e exiba a quantidade de caracteres armazenados na variável.

In [ ]:
nome_aluno = 'Leandro'
print(str(len(nome_aluno)))

7


#####DESAFIO 2

Crie uma variável com uma string representando a data de seu nascimento no formato 'dd/mm/aaaa'. Em seguida, crie e exiba uma senha composta pela concatenção das partes definidas abaixo, na ordem apresentada:

*   último caractere do ano;
*   1o. caractere do mês replicado 5 vezes;
*   2o. caractere do dia;
*   2o. caractere do ano replicado 2 vezes.

In [ ]:
data_nascimento = '16/02/1991'
senha = data_nascimento[-1] + data_nascimento[3] * 5 + data_nascimento[1] + data_nascimento[7] * 2
print('Data nascimento (dd/mm/aaaa): ' + data_nascimento)
print('Senha: ' + senha)

Data nascimento (dd/mm/aaaa): 16/02/1991
Senha: 100000699


#####DESAFIO 3
Agora vamos criar uma senha mais forte! Crie uma variável com uma string representando a data de seu nascimento no formato 'dd/mm/aaaa'. Crie outra variável com o seu nome. Em seguida, crie e exiba uma senha composta pela concatenção das partes definidas abaixo, na ordem apresentada:

* penúltimo caractere do ano;
* caractere '#';
* caractere do meio do nome;
* 2o. caractere do mês replicada 3 vezes;
* caractere '$';
* antepenúltimo caractere do nome replicado 2 vezes.

In [ ]:
senha_forte = data_nascimento[9] + '#' + nome_aluno[len(nome_aluno) // 2] + data_nascimento[4] * 3 + '$' + nome_aluno[-3] * 2
senha_forte

'1#n222$dd'


#####DESAFIO 4
Crie uma variável string com todas as letras maiúsculas do alfabeto, de 'A' a 'Z'. Em seguida, crie uma variável lista com os valores inteiros 15, 24, 19, 7, 14 e 13. Considerando que cada inteiro da lista corresponde ao índice da posição de uma letra na string, exiba a concatenação de todas as 6 letras e descubra a "palavra secreta". Por exemplo, se a lista possuir os valores 14 e 0, a palavra secreta será 'OI'.

In [ ]:
alfabeto = 'ABCDEFGHIJKLMNOPQRSTUVXZYW'
lNumInteiros = [15, 24, 19, 7, 14, 13]
print(alfabeto[lNumInteiros[0]] +
      alfabeto[lNumInteiros[1]] +
      alfabeto[lNumInteiros[2]] +
      alfabeto[lNumInteiros[3]] +
      alfabeto[lNumInteiros[4]] +
      alfabeto[lNumInteiros[5]]
)

PYTHON

##Aula 01 - Exercícios 4 - Conversão de tipos Módulos

###Exemplos Apostila

#####Conversão de tipos (casting)

In [13]:
n1 = 10
s1 = str(n1)
n2 = float(s1)
n3 = 87.52
n4 = int(n3)
s2 = str(n3)
n5 = float(s2)

print('S1: ' + s1)
print('S2: ' + s2)
print('n2: ' + str(n2))
print('n3: ' + str(n3))
print('n5: ' + str(n5))

print(str([1, 2, 3, -0.5, 8752]))

S1: 10
S2: 87.52
n2: 10.0
n3: 87.52
n5: 87.52
[1, 2, 3, -0.5, 8752]

#####Módulos

Todas as funcionalidades da biblioteca math

In [ ]:
import math

Todas as funcionalidades da biblioteca math, porém com o apelido de m

In [ ]:
import math as m

Apenas as funcionalidades de raiz quadrada e seno da biblioteca math

In [ ]:
from math import sqrt, sin

In [9]:
import math as m
n = m.sqrt(25)
print(str(n))

5.0
Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [10]:
import math as m
help(m.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

####Comentários

In [11]:
#Cálculo da raiz quadrada
n = m.sqrt(25)
n

5.0

In [12]:
n = m.sqrt(25) #Cálculo da raiz quadrada
n

5.0

In [14]:
# Módulo math: constantes e funções matemáticas
import math         # primeiro passo - importação do módulo desejado
dir(math)           # dir: exibe todas as constantes e funções existente no módulo

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [19]:
import random as r

# Execute mais de uma vez esta célula e observe os valores exibidos
# Função random: gera um valor aleatório no intervalo [0, 1); não inclui o 1

print(str(r.random()))

0.8573516207406604

In [20]:
# Execute mais de uma vez esta célula e observe os valores exibidos
# Função randint: gera um valor aleatório no intervalo especificado; inclui extremos
print(str(r.randint(1, 100)))

48

In [21]:
# Execute mais de uma vez esta célula e observe os valores exibidos
# Função sample: retorna uma lista com K elementos da sequência fornecida
# No exemplo abaixo, foi fornecida uma string
# O valor 5 (K) indica a quantidade de elementos desejados
r.sample('abcdefghijklmnopqrstuvxwyz', 5)

['s', 'f', 'm', 'q', 'b']

In [22]:
# Execute mais de uma vez esta célula e observe os valores exibidos
# No exemplo abaixo, foi fornecida uma lista ao invés de uma string
r.sample([10.5, True, -9, 'python', 25, 'abc', 2587], 2)

[True, 'abc']

In [23]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [24]:
sL = string.ascii_lowercase
sL

'abcdefghijklmnopqrstuvwxyz'

In [25]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

###Desafios

#### **DESAFIO 01**

Utilizando uma constante do módulo string, refaça o desafio 4 da lista anterior, reproduzido abaixo.

Crie uma variável string com todas as letras maiúsculas do alfabeto. Em seguida, crie uma variável lista com os valores inteiros 15, 24, 19, 7, 14 e 13. Considerando que cada inteiro da lista corresponde ao índice da posição de uma letra na string, exiba a concatenação de todas as 6 letras e descubra a "palavra secreta". Por exemplo, se a lista possuir os valores 14 e 0, a palavra secreta será 'OI'.

In [27]:
_alfabeto = 'ABCDEFGHIJKLMNOPQRSTUVXZYW'
lNumInteiros = [15, 24, 19, 7, 14, 13]
print(_alfabeto[lNumInteiros[0]] +
      _alfabeto[lNumInteiros[1]] +
      _alfabeto[lNumInteiros[2]] +
      _alfabeto[lNumInteiros[3]] +
      _alfabeto[lNumInteiros[4]] +
      _alfabeto[lNumInteiros[5]]
)

PYTHON

####**DESAFIO 2**

Utilizando a função log10 do módulo math, calcule o log do valor 10000 na base 10.

In [28]:
from math import log10

help(log10)

Help on built-in function log10 in module math:

log10(x, /)
    Return the base 10 logarithm of x.

In [29]:
print(float(log10(10000)))

4.0

####DESAFIO 3

Considere uma string composta por 4 algarismos como, por exemplo, '1234'. Exiba a soma dos algarismos da string exemplo. Importante: a sua solução deve funcionar para qualquer string composta por 4 algarismos. Por isso, depois de executar a sua solução, substitua a string '1234' por '8751' e execute-a novamente.

In [53]:
s_item = '1234'
print(str(int(s_item[0]) + int(s_item[1]) + int(s_item[2]) + int(s_item[3])))

s_item = '8751'
print(str(int(s_item[0]) + int(s_item[1]) + int(s_item[2]) + int(s_item[3])))

10
21

In [34]:
import string as s
dir(s)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [37]:
help(s.Formatter)

Help on class Formatter in module string:

class Formatter(builtins.object)
 |  Methods defined here:
 |
 |  check_unused_args(self, used_args, args, kwargs)
 |
 |  convert_field(self, value, conversion)
 |
 |  format(self, format_string, /, *args, **kwargs)
 |
 |  format_field(self, value, format_spec)
 |
 |  get_field(self, field_name, args, kwargs)
 |      # given a field_name, find the object it references.
 |      #  field_name:   the field being looked up, e.g. "0.name"
 |      #                 or "lookup[3]"
 |      #  used_args:    a set of which args have been used
 |      #  args, kwargs: as passed in to vformat
 |
 |  get_value(self, key, args, kwargs)
 |
 |  parse(self, format_string)
 |      # returns an iterable that contains tuples of the form:
 |      # (literal_text, field_name, format_spec, conversion)
 |      # literal_text can be zero length
 |      # field_name can be None, in which case there's no
 |      #  object to format and output
 |      # if field_name is not None, it is looked up, formatted
 |      #  with format_spec and conversion and then used
 |
 |  vformat(self, format_string, args, kwargs)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [35]:
help(s.digits)

No Python documentation found for '0123456789'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [38]:
help(s._string)

Help on built-in module _string:

NAME
    _string - string helper module

FUNCTIONS
    formatter_field_name_split(...)
        split the argument as a field name

    formatter_parser(...)
        parse the argument as a format string

FILE
    (built-in)

In [39]:
help(s.capwords)

Help on function capwords in module string:

capwords(s, sep=None)
    capwords(s [,sep]) -> string

    Split the argument into words using split, capitalize each
    word using capitalize, and join the capitalized words using
    join.  If the optional second argument sep is absent or None,
    runs of whitespace characters are replaced by a single space
    and leading and trailing whitespace are removed, otherwise
    sep is used to split and join the words.

In [41]:
help(s._ChainMap)

Help on class ChainMap in module collections:

class ChainMap(collections.abc.MutableMapping)
 |  ChainMap(*maps)
 |
 |  A ChainMap groups multiple dicts (or other mappings) together
 |  to create a single, updateable view.
 |
 |  The underlying mappings are stored in a list.  That list is public and can
 |  be accessed or updated using the *maps* attribute.  There is no other
 |  state.
 |
 |  Lookups search the underlying mappings successively until a key is found.
 |  In contrast, writes, updates, and deletions only operate on the first
 |  mapping.
 |
 |  Method resolution order:
 |      ChainMap
 |      collections.abc.MutableMapping
 |      collections.abc.Mapping
 |      collections.abc.Collection
 |      collections.abc.Sized
 |      collections.abc.Iterable
 |      collections.abc.Container
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __bool__(self)
 |
 |  __contains__(self, key)
 |
 |  __copy__ = copy(self)
 |
 |  __delitem__(self, key)
 |
 |  __getitem__(self, key)
 |
 |  __init__(self, *maps)
 |      Initialize a ChainMap by setting *maps* to the given mappings.
 |      If no mappings are provided, a single empty dictionary is used.
 |
 |  __ior__(self, other)
 |
 |  __iter__(self)
 |
 |  __len__(self)
 |
 |  __missing__(self, key)
 |
 |  __or__(self, other)
 |      Return self|value.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __ror__(self, other)
 |      Return value|self.
 |
 |  __setitem__(self, key, value)
 |
 |  clear(self)
 |      Clear maps[0], leaving maps[1:] intact.
 |
 |  copy(self)
 |      New ChainMap or subclass with a new copy of maps[0] and refs to maps[1:]
 |
 |  get(self, key, default=None)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  new_child(self, m=None, **kwargs)
 |      New ChainMap with a new map followed by all previous maps.
 |      If no map is provided, an empty dict is used.
 |      Keyword arguments update the map or new empty dict.
 |
 |  pop(self, key, *args)
 |      Remove *key* from maps[0] and return its value. Raise KeyError if *key* not in maps[0].
 |
 |  popitem(self)
 |      Remove and return an item pair from maps[0]. Raise KeyError is maps[0] is empty.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, *args)
 |      Create a ChainMap with a single dict created from the iterable.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  parents
 |      New ChainMap from maps[1:].
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from collections.abc.MutableMapping:
 |
 |  setdefault(self, key, default=None)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(self, other=(), /, **kwds)
 |      D.update([E, ]**F) -> None.  Update D from mapping/iterable E and F.
 |      If E present and has a .keys() method, does:     for k in E: D[k] = E[k]
 |      If E present and lacks .keys() method, does:     for (k, v) in E: D[k] = v
 |      In either case, this is followed by: for k, v in F.items(): D[k] = v
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from collections.abc.Mapping:
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  items(self)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(self)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  values(self)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from collections.abc.Mapping:
 |
 |  __hash__ = None
 |
 |  __reversed__ = None
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from collections.abc.Collection:
 |
 |  __subclasshook__(C)
 |      Abstract classes can override this to customize issubclass().
 |
 |      This is invoked early on by abc.ABCMeta.__subclasscheck__().
 |      It should return True, False or NotImplemented.  If it returns
 |      NotImplemented, the normal algorithm is used.  Otherwise, it
 |      overrides the normal algorithm (and the outcome is cached).
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from collections.abc.Iterable:
 |
 |  __class_getitem__ = GenericAlias(...)
 |      Represent a PEP 585 generic type
 |
 |      E.g. for t = list[int], t.__origin__ is list and t.__args__ is (int,).

##Aula 01 - Exercício 5 - Interagindo com o usuário: entrada e saída de dados

###Exemplos Apostila

####Saída (impressão ou exibição) de dados

método Print

In [58]:
import math as m
n = m.sqrt(25)
print('Raíz quadrada de 25: ', n)

Raíz quadrada de 25:  5.0

In [59]:
print('A raiz quadrada de 25 é: ', n, sep=' ', end='\n')

A raiz quadrada de 25 é:  5.0

In [60]:
a = 10
b = 20

print(a, b, sep=':')

10:20

In [62]:
print('Linha 1', end=' ')
print('Linha 2')

Linha 1 Linha 2

In [65]:
nome = 'Mickey Mouse'
ano = 1928
print(f'O personagem {nome} foi criado em {ano}.')

O personagem Mickey Mouse foi criado em 1928.

In [68]:
n = 1234.56789
print(f'{n}')
print(f'{n:.3f}')
print(f'{n:10.3f}')

1234.56789
1234.568
  1234.568

In [70]:
print('Valor1\tValor2\tValor3\tValor4')

Valor1	Valor2	Valor3	Valor4

In [71]:
n = 19
print(f'[{n}] [{n:d}] [{n:5d}]')
print(f'{n:o} {n:x}')
print(f'{n:e}')

[19] [19] [   19]
23 13
1.900000e+01

In [72]:
n1 = 10
n2 = 20
n3 = 30

print(n1, n2, n3)
print(n1, '\n', n2, '\n', n3)
print(n1, '\n', n2, '\n', n3, sep='')
print(n1, '\nn', n2, '\nn', n3, sep='')
print('V1', '\t', 'V2', '\t', 'V3')
print(n1, '\t', n2, '\t', n3)
print(n1, '\t', n2, '\t', n3)

10 20 30
10
 20
 30
10
20
30
10
n20
n30
V1 	 V2 	 V3
10 	 20 	 30
10 	 20 	 30

In [73]:
n1 = 25
print(f'Valor inteiro: {n1}')
print(f'Valor inteiro: {n1:5d}')
print(f'Valor inteiro: {n1:05d}')

Valor inteiro: 25
Valor inteiro:    25
Valor inteiro: 00025

In [74]:
n2 = 1234.567899
print(f'Valor inteiro: {n2}')
print(f'Valor inteiro: {n2:2f}')
print(f'Valor inteiro: {n2:10.2f}')
print(f'Valor inteiro: {n2:010.2f}')

Valor inteiro: 1234.567899
Valor inteiro: 1234.567899
Valor inteiro:    1234.57
Valor inteiro: 0001234.57

In [76]:
vogais = 'AEIOU'
print(f'Texto: {vogais}')
print(f'Texto: {vogais:>10s}')
print(f'Texto: {vogais:^10s}')

Texto: AEIOU
Texto:      AEIOU
Texto:   AEIOU

###Desafios

####DESAFIO 1

Escreva um programa que exiba o correspondente a 23 dias em semanas e dias. Exiba uma mensagem adequada usando as palavras 'semanas' e 'dias' após as respectivas quantidades.

Importante: a sua solução deve funcionar para qualquer quantidade de dias. Por isso, depois de executar a sua solução para 23 dias, execute-a novamente para 144 dias.

In [111]:
nDias = 23
nSemanas = nDias // 7
nRestoDias = nDias % 7

print(f'{nSemanas} Semanas', end=' e ')
print(f'{nRestoDias} dias')

nDias = 144
nSemanas = nDias // 7
nRestoDias = nDias % 7
print(f'{nSemanas} Semanas', end=' e ')
print(f'{nRestoDias} dias')

3 Semanas e 2 dias
20 Semanas e 4 dias

####DESAFIO 2

A cada execução, a função random do módulo de mesmo nome gera um valor real aletaório no intervalo [0, 1), ou seja, maior ou igual a 0 e menor do que 1. Escreva um programa que gere um valor aleatório com essa função e exiba-o de diferentes formas:

* sem detalhes de formatação, sem utilizar uma f-string;
* sem detalhes de formatação, utilizando uma f-string;
* com 4 casas decimais;
* com 4 casas em um campo de tamanho 7;
* com 6 casas decimais em um campo de tamanho 12 e com zeros à frente.

In [103]:
import random as r

numero = r.random()
print(numero)
print(f'{numero}')
print(f'{numero:1.4f}')
print(f'{numero:7.4f}')
print(f'{numero:012.6f}')

0.5030701495985834
0.5030701495985834
0.5031
 0.5031
00000.503070